body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    border-color: white;
    background: transparent;
    height: 8vmin;
    width: 8vmin;
    border-radius: 100%;
    border-width: 0.4vmin;
}

.icon {
    filter: invert(100%);
    height: 3.3vmin;
    width: 4vmin;
}

.vcontainer {
    height: 19vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hcontainer {
    width: 70vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    height: 6.5vmin;
    width: 62.4vmin;
}

.logo {
    filter: invert(100%);
    height: 2vmin;
    width: 15.6vmin;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}

.canvas {
    height: 104%;
    width: 100%;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.description {
    font-size: 1.5vmin;
    color: white;
}